body{
    margin:0;
    padding:0;
}

#container{
	margin-left:auto;
	margin-right:auto;
	width:1000px;
}

#header{

}

#footer{
	clear:both;
    background-color:#232323;
    color:#fff;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
}