body{
    margin:0;
    padding:0;
}

#container{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

#header{

}

.headerLeftZone{
    float:left;
}

.headerRightZone{
    float:right;
}

.headerNavArea{
    clear:both;
}

ul#headerNav{
    width:1000px;
    padding:0;
    margin:0;
    list-style-type:none;
}

ul#headerNav li{
    display:inline;
    width:195px;
    float:left;
    padding:0;
    margin:0;
    text-align:center;
    background-color:#43dea1;
    border-right:solid 1px #fff;
}

ul#headerNav li a{
    width:auto;
    color:#fff;
    font-weight:bold;
    padding:10px 0;
    text-decoration:none;
    display:block;
}
ul#headerNav li a:hover{
    background-color:#77e1b7;
}


#sidemenu{
    clear:both;
    float:left;
    width:300px;
}

div.bbsLoginArea{
    background-image:url("../images/bbsLoginBack.png");
    background-size:contain;
    width:290px;
    height:435px;
    padding-bottom:1px;
    text-align:center;
}

input.ID{
    margin-top:190px;
    /*margin-left:px;*/
}

input.pass{
    margin-top:90px;
    /*margin-left:px;*/
}

input.button{
    cursor: pointer;
    display: block;
    width: 190px;
    height: 42px;
    border: none;
    background: url("../images/LoginButton.png") no-repeat 0 0;
    background-size:contain;
    text-indent: -9999px;
    margin-top:35px;
    margin-left:45px;
}

input.button:hover{
    background: url("../images/LoginButtonHover.png") no-repeat 0 0;
    background-size:contain;
}

ul#sideNav{
    list-style-type:none;
    width:290px;
    padding:0;
    margin:0;
}

ul#sideNav li{
    width:290px;
    padding:0;
    margin:0;
    text-align:center;
    background-color:#23a0f2;
    border-bottom:solid 1px #fff;
}

ul#sideNav li a{
    width:auto;
    color:#fff;
    font-weight:bold;
    padding:20px 40px;
    text-decoration:none;
    display:block;
}

ul#sideNav li a:hover{
    background-color:#4bb1f3;
}

#contents{
    float:right;
    width:700px;
}

p.midashi{
    padding-left:30px;
    padding-top:30px;
    padding-bottom:30px;
    border-left:20px solid #ff6a00;
    border-bottom:1px solid #ff6a00;
    width:600px;
    font-weight:bold;
    font-family:monospace;
    font-size:30px;
}

#footer{
    clear:both;
    background-color:#232323;
    color:#fff;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
}